<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <title>siteCommunityAdministrator</title>
    <#include "/site/base/base.html">
</head>
<body>
<script>
    var globalvue = new Vue({
        data: function () {
            return {
                baseUrl: baseServerUrl + "/site-community-administrator/",
                loading: false, //是否显示加载
                show: false, //是够显示页面
                parentName:null,
                //表单数据
                form: {
                    gender:"",
                    birth:"",
                    phone:"",
                    email:"",
                    address:"",
                    name:"",
                    position:"",
                    userId:"",
                    communityId:"",
                },
                //表单校验规则 https://element.eleme.cn/2.15/#/zh-CN/component/form
                rules: {
                    gender: [{
                        required: true,
                        message: '必填',
                        trigger: 'blur'
                    }],
                    birth: [{
                        required: true,
                        message: '必填',
                        trigger: 'blur'
                    }],
                    phone: [{
                        required: true,
                        message: '必填',
                        trigger: 'blur'
                    }],
                    email: [{
                        required: true,
                        message: '必填',
                        trigger: 'blur'
                    }],
                    address: [{
                        required: true,
                        message: '必填',
                        trigger: 'blur'
                    }],
                    name: [{
                        required: true,
                        message: '必填',
                        trigger: 'blur'
                    }],
                    position: [{
                        required: true,
                        message: '必填',
                        trigger: 'blur'
                    }],
                    userId: [{
                        required: true,
                        message: '必填',
                        trigger: 'blur'
                    }],
                    communityId: [{
                        required: true,
                        message: '必填',
                        trigger: 'blur'
                    }],
                }
            }
        },
    })
</script>
<#include "add.html">
<#include "edit.html">
<#include "list.html">
</body>
</html>